
body{
  background-color: #D3E0EA
}
h1{
  color: #04009A;
}
h3{
  color: #1687A7
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #276678;
  height: 0;
  width: 25%;
  border-width: 7px;
}

  .code{
    font-family: cursive;
  }
  .font{
    font-family:sans-serif;
    font-size:17px;
  }
